<!DOCTYPE html>
<html lang="en">
	<head>
		 <meta charset="UTF-8">
		 <title>My Website - About</title>
		 <link rel="stylesheet" href="/static/css/app.css" type="text/css">
	</head>
	<body>
		<div class="mainbody">
			<div class="namelable">
		 		<h1>Lincoln Brown </h1>
		 	</div>
		 <div class="info">
		 <p>Hey there, I'm Lincoln and i am just a random guy who loves to code, write poems, motivate 
		 and encourage people. I inspire to be someone great, someone phenomenal someone who my parents can be proud of and most of all someone who I will be proud of. Thank you! </p>
		 </div>
		</div>
	</body>
</html> 
